/* Navigasi keseluruhan*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff8fa;
    padding: 16px 32px;
    border-bottom: 1px solid #e5e5e5;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Logo */
.logo a{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    font-family: "Playfair+Display";
}

.logo img {
    width: 40px;
    margin-right: 8px;
}
.logo .toher {
    color: #313131;
}
.logo .get {
    color: #6D123F;
}

/* Menu desktop */
.menu {
    display: flex;
    align-items: center;
    gap: 32px;
}
.menu ul {
    display: flex;
    list-style: none;
    gap: 32px;
}
.menu a {
    text-decoration: none;
    color: #6D123F;
    font-weight: 500;
    transition: 0.3s;
}
.menu a.active {
    border-bottom: 2px solid #6D123F;
    padding-bottom: 4px;
}
.menu a:hover {
    color: #313131;
}

/* Profile side menu */
.profile {
    display: none;
}

/* Tombol hamburger */
.menu-icon {
    display: none;
    font-size: 32px;
    cursor: pointer;
}

.profile,
.close-btn {
    display: none;
}

/* Profile Desktop */
.profile-desktop {
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar-desktop {
    width: 40px;
    height: 40px;
    background: #6D123F;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
}
.name-desktop {
    font-weight: bold;
    color: #6D123F;
}

/* Sembunyikan menu */
#menu-strrip3 {
    display: none;
}

@media (max-width: 768px) {

    /* Sembunyikan menu utama */
    .menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100%;
        background: #FFF9F7;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 25px;
        transition: 0.3s ease;
    }

    /* Tampilkan sidebar saat checkbox aktif */
    #menu-strrip3:checked~.menu {
        right: 0;
    }

    /* Tombol close */
    .close-btn {
        align-self: flex-end;
        font-size: 32px;
        cursor: pointer;
        margin-bottom: 16px;
    }

    /* Profile di side menu */
    .profile {
        display: block;
        text-align: center;
        margin-bottom: 24px;
    }
    .avatar {
        width: 50px;
        height: 50px;
        background: #541b35;
        color: #fff;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin: 0 auto 10px;
        font-weight: bold;
    }
    .name {
        font-weight: bold;
        color: #541b35;
    }
    .role {
        font-size: 15px;
        color: #777;
    }

    /* Menu list */
    .menu ul {
        flex-direction: column;
        gap: 16px;
    }
    /* Hamburger muncul */
    .menu-icon {
        display: block;
    }
    .profile,
    .close-btn {
        display: block;
    }

    /* Sembunyikan profile desktop di hp */
    .profile-desktop {
        display: none;
    }
}
